/hybris*
/licenses
/config*/security
/extensions/*/bin
/extensions/*/classes
/extensions/*/eclipsebin
/extensions/*/gensrc
/extensions/*/testclasses
/extensions/*/extensioninfo.xsd
/extensions/*/platformhome.properties
/extensions/*/build.xml
/extensions/*/resources/items.xsd
/extensions/*/resources/beans.xsd
/extensions/*/resources/*/*-testclasses.xml
/extensions/*/hmc/bin
/extensions/*/hmc/classes
/extensions/*/hmc/resources/hmc.xsd
/extensions/*/web/addonsrc
/extensions/*/web/testsrc
/extensions/*/web/testclasses
/extensions/*/web/webroot/_ui/addons
/extensions/*/web/webroot/WEB-INF/classes
/extensions/*/web/webroot/WEB-INF/messages/addons
/extensions/*/web/webroot/WEB-INF/tags/addons
/extensions/*/web/webroot/WEB-INF/tld/addons
/extensions/*/web/webroot/WEB-INF/views/addons